page-chat-room {
  .toolbar-background{
    background-color: white !important;
  }
  
  .toolbar-title{
    text-align: left;
    overflow: visible !important;
  
  }
  .background:hover .hover-show {
    opacity: 1;
  }
  
  ion-content {
    background-size: cover;
    height: 100%;
    overflow: hidden;
    .item-md, .item-ios {
      background: none;
    }
  }

  ion-footer {
    background-color: #D9A069;
    ion-icon {
      padding:5px;
      justify-content : center;
      align-items : center;
      display: flex;
      font-size: 40px;
      color:  #f0f0f0;
    }
    button {
      padding: 2px;
  
    }
  }




  .chat-status {
    min-height: 49px;
    .chat-date {
      display: block;
      font-size: 10px;
      font-style: italic;
      color: #fff;
      text-shadow: 0px -1px 0px #222, 0px 1px 0px #aaa;
      height: 15px;
      left: 10%;
      right:10%;
    }
    .chat-content-center {
      padding: 5px 10px;
      background-color: #e1e1f7;
      border-radius: 6px;
      font-size: 12px;
      color: #555;
      height: 34px;
      left: 10%;
      right:10%;
    }
  }
  .chat-message {
    width: 80%;
    min-height: 40px;
    color: #f0f0f0;
    .right-bubble {
        position: relative;
        background: #D9A069;
        border-top-left-radius: .4em;
      border-bottom-left-radius: .4em;
      border-bottom-right-radius: .4em;
      padding: 5px 10px 10px;
      left: 20%;
      span.msg-name {
        font-size: 12px;
        font-weight: bold;
        color: #f0f0f0;
      }
      span.msg-date {
        font-size: 10px;
      }
    }
  
    .right-bubble:after {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        width: 0;
        height: 0;
        border: 27px solid transparent;
        border-left-color: #D9A069;
        border-right: 0;
        border-top: 0;
        margin-top: -13.5px;
        margin-right: -27px;
    }
    .left-bubble {
        position: relative;
        background: #f0f0f0;
      border-top-right-radius: .4em;
      border-bottom-left-radius: .4em;
      border-bottom-right-radius: .4em;
      padding: 5px 10px 10px;
      // left: 5%;
      span.msg-name {
        font-size: 12px;
        font-weight: bold;
        color: #D9A069;
      }
      span.msg-date {
        font-size: 10px;
        color: #D9A069;
      }
    }
  
    .left-bubble:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 0;
        height: 0;
        border: 27px solid transparent;
        border-right-color: #ffffff;
        border-left: 0;
        border-top: 0;
        margin-top: -13.5px;
        margin-left: -27px;
    }
  
    .profile-picture {
      max-width: 50px; 
      max-height: 50px;
      border-radius: 100%;
  }
  
  .background {
      background-size: cover; 
      background-position: center center; 
  }
  
  .hover-show {
      margin-top: 250px;
      opacity: 0;
  }
  
  
  }
}





