page-edit-profile {
    .button-circle {
        background: none; 
        color: black; 
        height: auto;

        .icon-middle {
            font-size:30px; 
            height: 50px; 
            line-height: 50px; 
            vertical-align: middle; 
            text-align: center;
        }
        
        .icon-border {
            margin:auto; 
            width: 50px; 
            height:50px; 
            background-color: rgba(128, 128, 128, 0.3); 
            border-radius:100%;
        }
    }

    .background {
        background-size: 100% 200px; 
        background-position: initial; 
    }

    div {
        margin: auto; 
        text-align: center;
    }
}
