page-message {
    #photouser{
        justify-content : center;
        align-items : center;
        display: flex;
        
    }

    #userdetail{
        margin-top: 4vw;
        justify-content : center;
        align-items : center;
    }
}
