page-message {
    #photouser{
        justify-content : center;
        align-items : center;
        display: flex;
        
    }

    #userdetail{

        justify-content : center;
        align-items : center;
    }
}
