<ion-header>
  <ion-navbar>
    <ion-title>
      <div>
          <img class="logo-middle" src="../assets/imgs/application_logo_header.png">
      </div>
    </ion-title>
    <ion-buttons left>
      <button ion-button menuToggle>
        <ion-icon style=" font-size: 25px" name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons right>
        <button ion-button (click)="openSearch()">
          <ion-icon style=" font-size: 25px" name="search"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div>
    <h5 class="title">Featured Artworks</h5>
    <ion-slides autoplay="3000" loop="false" speed="1000">
      <!-- ngfor -->
      <ion-slide *ngFor="let artwork of artworks" (click)="detailArtwork(artwork.IDArtWork)">
        <!-- http://artnest-umn.000webhostapp.com/assets/userdata/{{artwork.EMail}}/artwork/{{artwork.DirectoryData}} -->
        <!-- <ion-card class="background" style="background-image: url('http://artnest-umn.000webhostapp.com/assets/userdata/{{artwork.EMail}}/artwork/{{artwork.DirectoryData}}');"> -->
        <ion-card class="background" [style.background-image]="'url(http://artnest-umn.000webhostapp.com/assets/userdata/' + artwork.EMail + '/artwork/' + artwork.DirectoryData + ')'">
          <div class="overlay-text hover-show">
            <ion-grid>
              <ion-row align-items-center>
                <ion-col col-3 class="title">
                  <img class="profile-picture" src="https://artnest-umn.000webhostapp.com/assets/userdata/{{artwork.EMail}}/ProfilePicture.png">
                </ion-col>
                <ion-col col-9 >
                  <div style="text-align: left; ;">
                    <span class="title-wrap" style="font-weight:bold">{{artwork.Title}}</span>
                    <br>
                    <span>by {{artwork.DisplayName}}</span>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </ion-card>
      </ion-slide>
      <!-- placeholder -->
      <ion-slide>
        <ion-card class="background" style="background-image: url('../assets/imgs/artist.jpg');">
          <div class="overlay-text hover-show">
            <ion-grid>
              <ion-row align-items-center>
                <ion-col col-3 class="title">
                  <img class="profile-picture" src='../assets/imgs/artist.jpg'>
                </ion-col>
                <ion-col col-9 >
                  <div style="text-align: left">
                    <span class="title">LOREM IPSUM</span>
                    <br>
                    <span>by LOREM IPSUM</span>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>
  <div class="separator-20"></div>
  <div>
    <h5 class="title">Featured Artists</h5>
    <ion-grid>
      <ion-row align-items-center>
        <!-- ngfor -->
        <ion-col col-6 *ngFor="let artist of artists">
          <ion-card class="background" [style.background-image]="'url(http://artnest-umn.000webhostapp.com/assets/userdata/' + artist.EMail + '/BackgroundProfile.jpg)'">
            <div class="container">
              <img src="../assets/imgs/application_logo_black.png">
              <div class="overlay">
                <img style="width: 25vw; height: 25vw;" src="https://artnest-umn.000webhostapp.com/assets/userdata/{{artist.EMail}}/ProfilePicture.png" class="inlay">
              </div>
            </div>
            <div class="overlay-text" style="padding: 6px;">
              <span style="font-weight:bold">{{artist.DisplayName}}</span>
            </div>
          </ion-card>
        </ion-col>        
        <!-- placeholder -->
        <!-- <ion-col col-6>
          <ion-card class="background" style="background-image:url('../assets/imgs/artist.jpg');">
            <div class="container">
              <img src="../assets/imgs/application_logo.png">
              <div class="overlay">
                <img src="../assets/imgs/artist_icon.png" class="inlay">
              </div>
            </div>
            <div class="overlay-text" style="padding: 6px;">
              <span class="title">Artist</span>
            </div>
          </ion-card>
        </ion-col> -->
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
