page-home {
    .profile-picture {
        max-width: 50px; 
        max-height: 50px;
    }

    .background {
        background-size: cover; 
        background-position: center center; 
    }

    .hover-show {
        margin-top: 250px;
        opacity: 1;
    }

    .background:hover .hover-show {
        opacity: 1;
    }

    .title-wrap{
        display: inline-block;
        white-space: nowrap;
        overflow: hidden !important;
        text-overflow: ellipsis;
    }


}
