// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.background-intro {
    background-image: url("../assets/imgs/main_background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #f0f0f0;
}

ion-label{
    color:black !important; 
}

.backgroud-default-light {
    background-color: #F4F4F4;
}

.backgroud-default-dark {
    background-color: #D9A069;
    color: #fff;
}

ion-title {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 90px 1px;
    width: 100%;
    height: 100%;
    text-align: center;
}

ion-header ion-item {
    margin: 10em;
}

.menu-toolbar {
    margin: 0px;
    padding: 0px;
}

ion-header button, .back-button {
    z-index: 5;
}

.overlay-text {
    z-index: 1;
    background: rgba(0,0,0,0.5);
    color: #fff;
    bottom:0px; 
    height: 30%;
    transition: .3s ease;
    text-align: center;
}

.title {
    font-size: 18px;
    font-weight: bold;
}

.profile-picture {
    border-radius: 100%; 
    display: block; 
    width: auto; 
    height: auto;
    margin:auto;
}

.background {
    background-repeat: no-repeat;
    padding:0px;
}

.separator-5 {
    padding: 5px;
}

.separator-20 {
    padding: 20px;
}

.container {
    position: relative;
    width: 100%;
    max-width: 400px;
  }
  
.inlay {
    width: 70%;
    border-radius: 100%;
    height: auto;
    max-width: 200px;
    max-height: 200px;
    text-align: center;
    position: absolute;
    top: 54%;
    left: 49%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.toolbar-title-md{
    padding: 10px;
}

.toolbar-background {
    background-color: #D9A069;
  }

.overlay {
    position: absolute;
    text-align: center;
    vertical-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
    transition: .3s ease;
    background-color:none;
}

.card-shadow {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

ion-menu{
    .toolbar-background-md{
        background-color: transparent !important;
        background: transparent !important;
    }
    .menu-inner{
        background-color: transparent !important;
        max-width: 290px !important;
    }
}

ion-col {
    padding: 0px !important;
}

.select-modal {
    background: rgba(0, 0, 0, 0.5) !important;
    padding: 20% 10%  !important;
 }

 ion-page.modal {
    padding: 30px;
    background: rgba(0,0,0,0.5);
  }
  .disabledfeature{
    color: #8f8f8f;
  }

  .accepted {
      color: green;
      text-transform: uppercase;
  }

  .rejected {
      color: red;
      text-transform: uppercase;
  }

  .pending {
      color: darkorange;
      text-transform: uppercase;
  }

  .modal-backdrop-bg {
    transition: opacity 300ms ease-in-out;
    -webkit-transition: opacity 300ms ease-in-out;
    background-color: #000;
    opacity: 0;
}

    .active .modal-backdrop-bg {
        opacity: 0.5;
    }

    @media (max-width: 767px) {
        ion-modal.show-page {
            background-color: #0000006e;
            text-align: -webkit-center;
        }

        ion-content{
            background-color: #0000006e;
        }
    }

    ion-modal{
        .modal-backdrop-bg {
            transition: opacity 300ms ease-in-out;
            -webkit-transition: opacity 300ms ease-in-out;
            background-color: #000;
            opacity: 0;
        }
        
        .active .modal-backdrop-bg {
            opacity: 0.5;
        }
    
        .content-md{
            background-color: rgba(0,0,0,0) !important;
        }

        .card-shadow {
            box-shadow: 0 2px 2px 0 rgba(217,160,105,.14), 0 3px 1px -2px rgba(217,160,105,.12), 0 1px 5px 0 rgba(217,160,105,.12);
        }

        .grid{
            padding: 0 !important;
        }
    }
    
    .modalSquare{
        background-color: white;
        width: 90%;
        border-radius: 5px;
        margin-bottom: 20%;
        height: 65%;
        overflow: scroll;
        margin-top: 20%;
    }

