<ion-header *ngIf="isThisUser()">
    <ion-navbar>
      <ion-title>
        <div>
            <img class="logo-middle" src="../assets/imgs/application_logo_header.png">
        </div>
      </ion-title>
      <ion-buttons left>
        <button ion-button menuToggle>
          <ion-icon style=" font-size: 25px" name="menu"></ion-icon>
        </button>
      </ion-buttons>
      <ion-buttons right>
          <button ion-button (click)="openSearch()">
            <ion-icon style=" font-size: 25px" name="search"></ion-icon>
          </button>
        </ion-buttons>
    </ion-navbar>
  </ion-header>

  <ion-header class="not-user" *ngIf="!isThisUser()">
      <ion-navbar start>
        <ion-title style="font-size:10px;">
          Artist
        </ion-title>
      </ion-navbar>
    </ion-header>
  
<ion-content>
  <div class="background" [style.background-image]="'url(http://artnest-umn.000webhostapp.com/assets/userdata/' + artist.EMail + '/BackgroundProfile.jpg)'">
    <div style="padding-left: 110px; padding-top: 110px; padding-right: 110px">
      <div class="container">
        <img src="../assets/imgs/application_logo_black.png">
        <div class="overlay">
          <img src="https://artnest-umn.000webhostapp.com/assets/userdata/{{artist.EMail}}/ProfilePicture.png" class="inlay" style="top:53%; width:27vw; height: 27vw">
        </div>
      </div>
    </div>
  </div>
  <div>
    <h3>{{artist.DisplayName}}</h3>
    <div>{{artist.CompletedWorks}} Completed Work(s)</div>
    <div class="separator-5"></div>
    <div style="padding-left: 40px; padding-right: 40px;">
      <span>{{artist.AboutMe}}</span>
    </div>
  </div> 
  <div class="separator-20"></div>
  <!-- IF NOT YOUR OWN PROFILE -->
  
  <div *ngIf="!isThisUser()">
    <ion-grid>
      <ion-row>
          <ion-col col-3>
              <button class="button-circle" (click)="openChat(artist)">
                <div>
                  <div class="card-shadow icon-border">
                    <ion-icon name="chatbubbles" class="icon-middle"></ion-icon>
                  </div>
                  <p>Chat</p>
                </div>
              </button>
            </ion-col>
        <ion-col col-3>
          <button class="button-circle" (click)="sendEmail(artist.EMail)"> 
            <div>
              <div class="card-shadow icon-border">
                <ion-icon name="mail" class="icon-middle"></ion-icon>
              </div>
              <p>Email</p>
            </div>
          </button>
        </ion-col>

        <ion-col col-3>
          <button class="button-circle">
            <div>
              <div class="card-shadow icon-border" (click) = "openModalContact(artist)">
                <ion-icon name="logo-facebook" class="icon-middle"></ion-icon>
              </div>
              <p>Facebook</p>
            </div>
          </button>
        </ion-col>
        <ion-col col-3>
            <button class="button-circle">
              <div>
                <div class="card-shadow icon-border" (click) = "openModalContact(artist)">
                  <ion-icon name="logo-twitter" class="icon-middle"></ion-icon>
                </div>
                <p>Twitter</p>
              </div>
            </button>
          </ion-col>
      </ion-row>
    </ion-grid>
  </div>
 
  <!-- IF YOUR OWN PROFILE -->
  <div *ngIf="isThisUser()">
    <ion-grid>
      <ion-row>
        <ion-col col-4>
          <button class="button-circle" (click)="createCommission()">
            <div>
              <div class="card-shadow icon-border">
                <ion-icon name="add-circle" class="icon-middle"></ion-icon>
              </div>
              <p>Create<br>Commission</p>
            </div>
          </button>
        </ion-col>
        <ion-col col-4>
          <button class="button-circle" (click)="addArtwork()">
            <div>
              <div class="card-shadow icon-border">
                <ion-icon name="image" class="icon-middle"></ion-icon>
              </div>
              <p>Add Artwork</p>
            </div>
          </button>
        </ion-col>
        <ion-col col-4>
          <button class="button-circle" (click)="editProfile()">
            <div>
              <div class="card-shadow icon-border">
                <ion-icon name="create" class="icon-middle"></ion-icon>
              </div>
              <p>Edit Profile</p>
            </div>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div> 
    <!-- NGFOR GENRE -->
    <button ion-button class="card-shadow" *ngFor= "let category of artist.Categories">
      {{category}}
    </button>
  </div>
  <div>
    <h5 style="padding-left: 10px; text-align: left">Artworks Showcase</h5>
    <ion-grid>
      <ion-row align-items-center>
        <!-- NGFOR ART SHOWCASE -->
        <ion-col col-6 *ngFor="let artwork of artist.Artworks; let i = index" (click)="detailArtwork(artwork)">
          <ion-card>
            <div class="container">
              <img src="http://artnest-umn.000webhostapp.com/assets/userdata/{{artist.EMail}}/artwork/{{artwork.DirectoryData}}">
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
