<ion-content (click)="close()">
  <ion-card class="modalSquare myModal" text-center (click)="none()">   
    <ion-card-content style="padding-top:20px;">  
      <div>
        <p class="title" style="font-weight:bold; font-size: 20px">{{comissionDetails.TitleProject}}</p>
        <span>{{comissionDetails.DateStart}} - {{comissionDetails.DateEnd}}</span>
        <span style="font-weight: bold;" class="accepted">{{comissionDetails.RequestStatus}}</span>
      </div>
      <div padding>
        <ion-grid *ngIf="comissionDetails.anySketchBase">
          <ion-row align-items-top>
            <ion-col col-12>
              <img src="https://artnest-umn.000webhostapp.com/assets/projectdata/{{comissionDetails.IDProject}}/SketchBase.jpg">
            </ion-col>
          </ion-row>
        </ion-grid>
        <div class="separator-5"></div>
        <ion-grid>
          <ion-row align-items-center>
            <ion-col col-4>
              <div  align-items-top style="text-align: left; font-weight: bold">
                Drawn By
              </div>
            </ion-col>
            <ion-col col-2 style="margin-left:5px;">
              <img class="profile-picture" src="https://artnest-umn.000webhostapp.com/assets/userdata/{{comissionDetails.ArtistEMail}}/ProfilePicture.png">
            </ion-col>
            <ion-col col-5 style="margin-left:5px;">
              <div style="text-align: left">
                <span>{{comissionDetails.ArtistName}}</span>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid>
          <ion-row align-items-center>
            <ion-col col-4>
              <div align-items-top style="text-align: left; font-weight: bold">
                Requested By
              </div>
            </ion-col>
            <ion-col col-2 style="margin-left:5px;">
              <img class="profile-picture" src="https://artnest-umn.000webhostapp.com/assets/userdata/{{comissionDetails.CustomerEMail}}/ProfilePicture.png">
            </ion-col>
            <ion-col col-5 style="margin-left:5px;">
              <div style="text-align: left">
                <span>{{comissionDetails.CustomerName}}</span>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
        <div class="separator-5"></div>
        <ion-grid>
          <ion-row align-items-top>
            <ion-col col-4>
              <div style="text-align: left; font-weight: bold">
                Price
              </div>
            </ion-col>
            <ion-col col-7 style="margin-left:5px;">
              <div style="text-align: left">
                <span>{{comissionDetails.TokenValue}}</span>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
        <div class="separator-5"></div>
        <ion-grid>
          <ion-row align-items-top>
            <ion-col col-4>
              <div style="text-align: left; font-weight: bold">
                Description
              </div>
            </ion-col>
            <ion-col col-7 style="margin-left:5px;">
              <div style="text-align: left">
                <span>{{comissionDetails.Description}}</span>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid>
          <ion-row align-items-top *ngIf="needArtistResponse">
            <ion-col col-6 padding>
              <div>
                <button ion-button style="width:80%;" (click)="artistAccept()">Accept</button>
              </div>
            </ion-col>
            <ion-col col-6 padding>
              <div>
              <button ion-button style="width:80%;" (click)="artistReject()">Reject</button>
            </div>
            </ion-col>
          </ion-row>

          <ion-row align-items-top *ngIf="needCustomerResponse">
            <ion-col col-6 padding>
              <div>
                <button ion-button style="width:80%;" (click)="customerAccept()">Accept</button>
              </div>
            </ion-col>
            <ion-col col-6 padding>
              <div>
              <button ion-button style="width:80%;" (click)="customerReject()">Reject</button>
            </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
