page-search-result {
    .profile-picture {
        max-width: 50px; 
        max-height: 50px;
        border-radius: 100%;
    }

    .background {
        background-size: cover; 
        background-position: center center; 
    }

    .hover-show {
        margin-top: 250px;
        opacity: 0;
    }
    .toolbar-title{
        text-align: left;
        overflow: visible !important;

    }

    .toolbar-background{
        background-color: white !important;
    }

    .background:hover .hover-show {
        opacity: 1;
    }
}
